.footer
    img.logo(src="pic/logo_ruzov_c3.png")
    .support_button
    .consult_button
    .rights(align="right").
        &copy; 2010 Ruzov.ru. <br>
        All Right Reserved.<br>

//script(src='my_code.js', type='text/javascript')