doctype html
html
    head(lang="en")
        title Точка входа в мир востока
        meta(charset="UTF-8")
        //link(rel='stylesheet/less' type='text/css' href='style.less')
        link(rel="stylesheet" type="text/css" href="style.min.css")
        //script(src='less.js', type='text/javascript')
        //script(src='js/jQuery.js', type='text/javascript')
        //script(src='my_code.js', type='text/javascript')
        //API для виджета VK
        script(type="text/javascript", src="//vk.com/js/api/openapi.js?136")
        //Виджет VK
        //script(src='js/vidjet.js', type="text/javascript")
        script(src='js/libs.min.js', type="text/javascript")
        //видеоплеер
        //link(rel="stylesheet" href="http://balance-tv.ru/plyr/plyr.css")
        //script(src='http://balance-tv.ru/plyr/plyr.js', type='text/javascript')
        //script(src='https://cdn.jsdelivr.net/hls.js/latest/hls.js', type='text/javascript')
        //script(src='player1.js', type='text/javascript')
        ///script(src='player2.js', type='text/javascript')
    body
        block content

script(src='slider.js', type='text/javascript')