img.logo(src="pic/logo_ruzov_c3.png")
.menu
    .autor
        div Автор
        img.arow(src="pic/strelka_menu.png")
    .spirit_part
        div Духовный раздел
        img.arow(src="pic/strelka_menu.png")
    .doing_part
        div Практический раздел
        img.arow(src="pic/strelka_menu.png")
    .project
        div Проекты
        img.arow(src="pic/strelka_menu.png")
    .find
        img.find_button(src="pic/Find.png")