img.logo(src="pic/logo_ruzov_c3.png")
.menu
    .autor
        div Автор
        img.arow(src="pic/strelka_menu.png")
        .menu_inter
            .inter_top
            .inter_left
            .inter_right
    .spirit_part
        div Духовный раздел
        img.arow(src="pic/strelka_menu.png")
        .menu_inter
    .doing_part
        div Практический раздел
        img.arow(src="pic/strelka_menu.png")
        .menu_inter
    .project
        div Проекты
        img.arow(src="pic/strelka_menu.png")
        .menu_inter
    .find
        input(type='text' placeholder='Поиск')
        img.find_button(src="pic/Find.png")

//.social_net_adaptive
    .text Поделиться в соц. сетях:
    .net1
    .net2
    .net3
    .net4
    .net5
    .net6

//.menu_adaptive  МЕНЮ
    img.m_a(src="pic/menu_adaptive.png")
//.wrap_find_adaptive
//.find_adaptive
    input(type='text' placeholder='Поиск')
    img.find_button(src="pic/Find.png")
