extends tamplate/head

mixin la_autor(pic)
    img(src="pic/arrow_autor.png")
    n= pic
block content
    .main
        include Tamplate/menu
        .head
            div.monitor#slider
                ul
                    li(type="none")
                        img(src="pic/fon_monitor.png")
                    li(type="none")
                        img(src="pic/fon_monitor1.png")
                    li(type="none")
                        img(src="pic/fon_monitor2.png")
                    li(type="none")
                        img(src="pic/fon_monitor3.png")
            div.arrow#previous
            div.arrow#next
        .left_block
            div.autor_area
                div.icon_autor
                div.text_autor АВТОР
                div.menu_link_autor
                    .link_autor1.hov
                        +la_autor(' Рузов О.В. (об авторе)')
                    .link_autor2.hov
                        +la_autor(' Личные встречи')
                    .link_autor3.hov
                        +la_autor(' Расписание поездок')
                    .link_autor4.hov
                        +la_autor(' Консультации')
                    .link_autor5.hov
                        +la_autor(' Подписаться на рассылки')
                    .link_autor6.hov
                        +la_autor(' Задать вопрос')
                    .link_autor7.hov
                        +la_autor(' Слушать Радио Гималаи')
                    .link_autor8.hov
                        +la_autor(' Фото / Видео')
                    .link_autor9.hov
                        +la_autor(' Филиалы')
                    .link_autor0.hov
                        +la_autor(' Контакты')

                div.support_button
            div.shop_area
        .center_block
            div.icon_seminar
            div.text_seminar СЕМИНАРЫ В ВАШЕМ ГОРОДЕ
            div.text_next
                a(href= "#") продробнее...
            div.date_seminars
                p
                    b 9-11 февраля
                    n  - Санкт-Петербург
                p
                    b 12-14 февраля
                    n  - Минск
                p
                    b 19-21 февраля
                    n  - Киров
                p
                    b 4,6 Марта
                    n  - Перьм
                p
                    b 7-9 Марта
                    n  - Екатеринбург

            div.new_on_site
                .new_icon
                .text_new НОВОЕ НА САЙТЕ
                .center_articles
                .article1
                    .image_art
                    .text_art
                        p Дузовный раздел
                            n(class = 'n')  Шримад Бхагаватам
                        p ШРИМАД БХАГАВАТАМ 6.1 ТЕКСТ 7
                        P Шукодева Госвами отвечал wer sdghg tehbtgth bdfhgtfdgdfgth gg ig fuui ughsfuighgu sfug ugh fuguigpsfu gsfpuhgbj
            //video(width="230" height="13" controls="controls")
                source(src="https://www.youtube.com/embed/9CGt8VJI510")
        .right_block
            div.video_area
                //#trans
                    #trans_tv
                iframe(width="220" height="125" src="https://www.youtube.com/embed/9CGt8VJI510" frameborder="0")
            div.chanal_area
    .schedule_area
        .main
            .text_schedule РАСПИСАНИЕ ЛЕКЦИЙ КЛУБА
            .link_contact
                a(href= "#") Контакты клуба "Баланс"
            .shop_buy
                .head_shop_buy
                .body_shop_buy
                    .book_img
                    .book_article Электронная книга "Волшебная педагогика" Рузова В.О.
                    .book_about.
                        Эта книга рекомендована как основа для глубокого понимания, что такое человек культурный,
                        человек воспитанный, человек развивающийся! книга рекомендована родителям, вопитателям,
                        преподавателям и всем, кто идёт по дороге самоосознания!
                    .buy_button
    .inform_area
        .main
            .doing_and_spirit
                .doing_chapter
                .spirit_chapter
            .last_news
                .last_news_icon
                .text_last_news ПОСЛЕДНИЕ НОВОСТИ
                .link_all_news
                    a(href= "#") все новости (...)
                .all_news
                    .news1
                    .news2
                    .news3
                    .news4
                    .news5
            .answer_on_qwestion
                .ask_icon
                .text_ask ОТВЕТЫ НА ВОПРОСЫ
                .link_all_question
                    a(href= "#") все вопросы/ответы
                .ask_question_button
            .vidjet_vk
                div#vk_groups
    .bottom_links_area
        .main
            .all_links
                .link1
                .link2
                .link3
            .big_links
                .link4
                .link5

    include tamplate/footer
    //script(src='my_code.js', type='text/javascript')
