extends tamplate/head

block content
    .main
        include Tamplate/menu
        .head
            div.monitor#slider
                ul
                    li(type="none")
                        img(src="pic/fon_monitor.png")
                    li(type="none")
                        img(src="pic/fon_monitor1.png")
                    li(type="none")
                        img(src="pic/fon_monitor2.png")
                    li(type="none")
                        img(src="pic/fon_monitor3.png")
            div.arrow#previous
            div.arrow#next
        .left_block
            div.autor_area
                div.icon_autor
                div.support_button
            div.shop_area
        .center_block
            div.icon_seminar
            div.new_on_site
                .new_icon
            //video(width="230" height="13" controls="controls")
                source(src="https://www.youtube.com/embed/9CGt8VJI510")
        .right_block
            div.video_area
                iframe(width="220" height="125" src="https://www.youtube.com/embed/9CGt8VJI510" frameborder="0")
            div.chanal_area
    .schedule_area
        .main
    .inform_area
        .main
            .doing_and_spirit
            .last_news
                .last_news_icon
            .answer_on_qwestion
                //.icon_ask
                .ask_icon
                    //.icon
                .ask_question_button
    .bottom_links_area
        .main

    include tamplate/footer


