@height_area: 625px;
@top_area: 25px;
@radius: 5px;
@width_area:240px;
@icon: 30px;
@autor_link: 25px;
.shadow(){
  box-shadow: 0 0 3px gray;}

.icon(@top, @left, @src){
  position: absolute;
  top: @top;
  left:@left;
  height: 30px;
  width: 30px;
  //background-color: red;
  background: url(@src);
  background-repeat: space;
}
.head_text(@top, @left) {
  position: absolute;
  top:@top;
  left:@left;
  width: 400px;
  height: 50px;
  font-family: 'Cuprum', serif;
  font-size: 25px;
}
.link_next(@top, @wid, @rig) {
  position: absolute;
  top: @top;
  right: @rig;
  width: @wid;
  height: 20px;
  font-weight: bold;
  font-size: 12px;
  a {color: #16557C;
    &:hover {
      color: orange;
    }
  }
}
.chapter {
  position: relative;
  display: inline-block;
  //background-color: lightgreen;
  width: 332px;
  height: 200px;
  margin-left: 15px;
  top: 25px;
  .line1 {
    position: absolute;
    top: 10px;
    width:70px;
    border-top:1px solid gray;
  }
  .head_line{
    position: absolute;
    top:0;
    left: 95px;
    font-family: 'Cuprum', serif;
    color: #484848;
  }
  .line2{
    .line1();
    right: 0;
  }
  .links1 {
    position: absolute;
    display: inline-block;
    top: 15px;
    font-size: 0.8em;
    line-height: 10px;
    width: 145px;
    color: #16557C;
    //border: 1px solid black;
    .lin {
      float: right;
      margin-top: 15px;
      &:hover {
        color: orange;
        text-decoration-line: underline;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
  .count1 {
    .links1();
    right:170px;
    width:10px;
    .co {
      color: orange;
      font-weight: bold;
      margin-top: 15px;
      width:10px;
      height: 10px;
      display: block;
    }
  }
  .links2 {
    .links1();
    right: 15px;
  }
  .count2 {
    .count1();
    right:0;
  }
}
.news(@pic) {
  position: relative;
  display: inline-block;
  top:45px;
  margin-left:10px;
  height: 275px;
  width: 180px;
  //background-color: lightgreen;
  vertical-align:top;
  &:hover {
    .fon .image_art_shadow {opacity: 0;};
    .text_art .toptext, .text_art .link a{color: orange}
  }
  .fon {
    background-color: white;
    border-radius: @radius;
    width: 180px;
    height: 110px;
    .img_news {
      position: relative;
      top: 6px;
      left: 6px;
      width: 165px;
      height: 97px;
      background-image: url(@pic);
    }
    .image_art_shadow {
      position: absolute;
      top:6px;
      left:6px;
      width: 166px;
      height: 97px;
      background-color: gray;
      opacity: 0.5;
    }
    .img_pointer {
      position: absolute;
      top:0;
      left:0;
      width: 180px;
      height: 110px;
      border-radius: @radius;
      z-index: 10;
      cursor: pointer;
    }
  }
  .text_art {
    font-size: 0.8em;
    vertical-align:top;
    cursor: pointer;
    .toptext {
      color: #16557C;
      font-weight: bold;
    }
    .text {
      font-size: 12px;
    }
  }
}
.question_answer(@top_qa){
  position: relative;
  width:650px;
  height:110px;
  left:20px;
  top:@top_qa;
  //border: 1px solid red;
  line-height: 14px;
  font-size: 13px;
  padding-top: 0;
  .first {font-weight: bold; color: #16557C; margin-top: 3px;};
  .second {margin-top: -10px;}
  .read_all {
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 105px;
    height: 20px;
    //border: 1px solid red;
    color: #16557C;
    text-decoration-line: underline;
    cursor: pointer;
    &:hover {color:orange;}
  }
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'), local('Cuprum-Regular'), url('http://64424.selcdn.ru/webfonts/cuprum/400.woff2') format('woff2'), url('http://64424.selcdn.ru/webfonts/cuprum/400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Italic'), local('Cuprum-Italic'), url('http://64424.selcdn.ru/webfonts/cuprum/400i.woff2') format('woff2'), url('http://64424.selcdn.ru/webfonts/cuprum/400i.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold'), local('Cuprum-Bold'), url('http://64424.selcdn.ru/webfonts/cuprum/700.woff2') format('woff2'), url('http://64424.selcdn.ru/webfonts/cuprum/700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'), url('http://64424.selcdn.ru/webfonts/cuprum/700i.woff2') format('woff2'), url('http://64424.selcdn.ru/webfonts/cuprum/700i.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: #eaecee;
  margin:0;
}
.main, .schedule_area {
  position: relative;
  width: 960px;
  height: 1130px;
  margin: 0 auto;
  //border: 1px solid black;
}
.logo{
  height: 75px;
  width: auto;
  margin-top: 10px;
}
.menu {
  width:  695px;
  height: 45px;
  background-color: white;
  border-radius: @radius;
  float: right;
  margin-top: 25px;
  box-shadow: 1px 1px 4px gray;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7px;
  padding-left: 25px;
  div {
    width: auto;
    height: auto;
    display: inline;
    div {margin-right: 10px}
  }
  .find {
    width: 155px;
    height: 26px;
    background-color: #eaecee;
    border: 1px solid gray;
    border-radius: @radius;
  }
  .find_button {
    position: absolute;
    margin-top: -1px;
    right: 7px;
    float: right;
    height: 28px;
  }
}
.head {
  background-color: white;
  position: relative;
  top: 10px;
  height: 340px;
  width: 960px;
  border-radius: @radius;
  .shadow;
  .monitor {
    width: 938px;
    height: 320px;
    border: 1px solid black;
    position: relative;
    top: 10px;
    margin: 10px;
    overflow: hidden;
    ul {
      margin-top: -2px;
      margin-left: -40px;
      width: 9400px;
      height: 320px;
      li {
        float: left
      }
    }
  }
  .arrow {
    position: absolute;
    top: 150px;
    height: 50px;
    width: 50px;
  }
}
.image(@a, @b){
  background-image: url(@a);
  &:hover {background-image: url(@b)};
  background-repeat: no-repeat;
}
#next {
  left: 880px;
  height: 48px;
  width: 48px;
  .image('pic/Right_arrow.png','pic/Right_arrow_over.png');
}
#previous {
  left: 125px;
  height: 48px;
  width: 48px;
  .image('pic/Left_arrow.png','pic/Left_arrow_over.png');
}
.link_autor(@top:50px) {
  position: absolute;
  display:block;
  top:@top;
  height: 20px;
  padding-left: 15px;
  padding-top: 4px;
  width: 100% - 6px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  color: #285E82;
  //background-color: lightgoldenrodyellow;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    background-color: orange;
    color: #ffffff;
  }
}
.left_block {
  top: @top_area;
  width: @width_area;
  height: @height_area;
  display: inline-block;
  position: relative;
  .autor_area {
    background-color: white;
    position: relative;
    height: 380px;
    width: @width_area;
    border-radius: @radius;
    .shadow;
    .icon_autor {
      .icon (15px; 15px; 'pic/Autor.png');
    };
    .text_autor {
      .head_text(12px; 50px;)
    };
    .menu_link_autor {
      .link_autor1 {.link_autor()}
      .link_autor2 {.link_autor(50px + @autor_link)}
      .link_autor3 {.link_autor(50px + @autor_link*2)}
      .link_autor4 {.link_autor(50px + @autor_link*3)}
      .link_autor5 {.link_autor(50px + @autor_link*4)}
      .link_autor6 {.link_autor(50px + @autor_link*5)}
      .link_autor7 {.link_autor(50px + @autor_link*6)}
      .link_autor8 {.link_autor(50px + @autor_link*7)}
      .link_autor9 {.link_autor(50px + @autor_link*8)}
      .link_autor0 {.link_autor(50px + @autor_link*9)}

    }
    .support_button {
      position: absolute;
      bottom: 15px;
      left:15px;
      height: 56px;
      width: 211px;
      .image('pic/Support_project_button.png','pic/Support_project_button_over.png');
    }
  }
  .shop_area {
    position: relative;
    top: 25px;
    float: right;
    height: 234px;
    width: @width_area;
    border-radius: @radius;
    cursor: pointer;
    .shadow;
    background-image: url('pic/dobro_shop.png');
  }
}
.center_block {
  position: inherit;
  display: inline-block;
  top: @top_area;
  height: @height_area;
  width: @width_area*2;
  margin-left: -4px;
  margin-right: -4px;
  .icon_seminar {
    .icon (10px; 25px; 'pic/Seminar.png');
  }
  .text_seminar {
    .head_text(10px; 55px;)
  }
  .text_next {
    .link_next(15px, 100px, 15px)
  }
  .date_seminars {
    position: absolute;
    top: 55px;
    left: 30px;
    width: 400px;
    height: 110px;
    color: #484848;
    font-size: 0.8em;
    p {
      line-height: 40%;
    }
  }
  .new_on_site {
    position: absolute;
    top: 175px;
    left: 20px;
    width: 440px;
    border-top: 2px solid lightgray;
    .new_icon {
      .icon(35px, 0, 'pic/new.png')
    }
    .text_new {
      .head_text(35px; 35px;)
    }
    .article(@top_art, @img_art) {
      position: absolute;
      height: 110px;
      width: 410px;
      left: 0;
      top: @top_art;
      &:hover {
        .text_art .hight_text{color: orange;};
        .image_art_shadow {opacity: 0;}
        .image_art_shadow_bottom {opacity: 0.5;}
      }
      .image_art {
        width: 160px;
        height: 110px;
        background-image: url(@img_art);
        border-radius: @radius;
        display: inline-block;
          .tic_tac {
            background-image: url("pic/tic_tac.png");
            position: absolute;
            display: inline-block;
            width: 10px;
            height: 10px;
            left: 6px;
            bottom: 5px;
            z-index: 10;
          }
          .date{
            color: white;
            position: absolute;
            display: inline-block;
            left: 20px;
            bottom: 3px;
            font-size: 0.8em;
            z-index: 10;
          }

      };
      .image_art_shadow {
        position: absolute;
        top:0;
        left:0;
        width: 160px;
        height: 110px;
        background-color: gray;
        border-radius: @radius;
        opacity: 0.5;
      };
      .image_art_shadow_bottom {
        position: absolute;
        bottom:0;
        left:0;
        width: 160px;
        height: 20px;
        background-color: gray;
        border-bottom-right-radius: @radius;
        border-bottom-left-radius: @radius;
        opacity: 0;
      };
      .img_pointer {
        position: absolute;
        top:0;
        left:0;
        width: 160px;
        height: 110px;
        border-radius: @radius;
        z-index: 12;
        cursor: pointer;
      }
      .text_art {
        display: inline-block;
        width: 230px;
        height: 110px;
        margin-left: 20px;
        line-height: 1em;
        top: 0;
        margin-bottom: 0;
        vertical-align:top;
        p, .n{
          line-height: 1em;
          font-size: 0.8em;
          margin-top: 0;
          margin-bottom: 0;
          cursor: pointer;
        };
        .top_article_text {
          color: darkgray;
          margin-bottom: 5px;
        }
        .hight_text {
          margin-bottom: 10px;
          font-weight: bold;
          color: #16557C;
        }
      }
    }
    .article1 {.article(35px, 'pic/newonsite_article_img1.png')}
    .article2 {.article(175px, 'pic/newonsite_article_img2.png')}
    .article3 {.article(315px, 'pic/newonsite_article_img3.png')}
  }
}
.right_block {
  top: @top_area;
  width: @width_area;
  height: @height_area;
  display: inline-block;
  position: relative;
  .video_area {
    background-color: #233048;
    position: inherit;
    display: inline-block;
    float: right;
    height: 220px;
    width: @width_area - 20px;
    border-radius: @radius;
    .shadow;
    padding: 10px;
  }
  .chanal_area {
    background-image: url('pic/our_channal.png');
    position: inherit;
    top: 15px;
    display: inline-block;
    float: right;
    height: 400px;
    width: @width_area;
  }
}
.schedule_area {
  background-color: #768C9F;
  width: 100%;
  height: 450px;
  .main {
    height: 450px;
    //background-color: antiquewhite;
    .text_schedule {
      .head_text(15px; 10px;);
      color: white;
    }
    .link_contact {
      position: absolute;
      top: 20px;
      left: 450px;
      width: 250px;
      height: 20px;
      font-weight: bold;
      font-size: 13px;
      a {color: #ffffff;
      }
    }
    .arrow_left {
      position: absolute;
      left: 2px;
      bottom: 60px;
      width: 15px;
      height: 23px;
      .image('pic/arrow_left_schedule.png','pic/arrow_left_schedule_over.png');
      &:hover {bottom: 63px;left: 0;}
    }
    .arrow_right {
      position: absolute;
      left: 695px;
      bottom: 60px;
      width: 15px;
      height: 23px;
      .image('pic/arrow_right_schedule.png','pic/arrow_right_schedule_over.png');
      &:hover {bottom: 63px;left: 693px;}
    }
    .fon_slider_schedule {
      position: absolute;
      top:60px;
      left:30px;
      border-radius: @radius;
      background-color: #4F6070;
      height: 365px;
      width: 650px;
      .img_schedule {
        position: absolute;
        bottom: 5px;
        left: 5px;
        height: 440px;
        width: 853px;
        //background-image: url('pic/img_schedule.png');
        background-color: #ff0000;
        z-index: 15;
        margin: 0;
      }
    }
    .shop_buy {
      position: absolute;
      margin-right: -10px;
      right: 0;
      width: 250px;
      height: 300px;
      .head_shop_buy {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 227px;
        height: 35px;
        background-image: url('pic/shop_small.png');
      }
      .body_shop_buy {
        position: absolute;
        top: 55px;
        right: 5px;
        width: 240px;
        height: 520px;
        background-color: #ffffff;
        z-index: 2;
        border-radius: @radius;
          .book_img {
            position: absolute;
            top: 10px;
            right: 20px;
            width: 210px;
            height: 200px;
            background-image: url("pic/book.png");
            background-position: bottom;
          }
          .book_article {
            .head_text(15px; 15px;);
            width: 200px;
            top: 220px;
            font-size: 21px;
          }
          .book_about {
            position: absolute;
            top: 310px;
            right: 15px;
            width: 210px;
            height: 200px;
            font-size: 14px;
          }
          .buy_button {
            position: absolute;
            bottom: 15px;
            left:20px;
            height: 33px;
            width: 200px;
            cursor: pointer;
            .image('pic/Buy.png','pic/Buy_over.png');
          }
      }
    }
  }
}
.inform_area {
  .main {
    height: 1110px;
    //background-color: antiquewhite;
    .doing_and_spirit {
      //background-color: cadetblue;
      height: 270px;
      width: auto;
      .doing_chapter {
        .chapter;
      }
      .spirit_chapter {
        .chapter;
      }
    }
    .last_news {
      position: relative;
      height: 390px;
      width: auto;
      .text_last_news {
        .head_text(0; 35px);
      }
      .last_news_icon {
        .icon(100,0, 'pic/Last_news.png');
      }
      .link_all_news {
        .link_next(15px, 100px, 5px);
      }
      .all_news {
        .news1 {.news(@pic:"pic/last_news_img1.png")}
        .news2 {.news(@pic:"pic/last_news_img2.png")}
        .news3 {.news(@pic:"pic/last_news_img3.png")}
        .news4 {.news(@pic:"pic/last_news_img4.png")}
        .news5 {.news(@pic:"pic/last_news_img5.png")}
      }
    }
    .answer_on_qwestion {
      position: absolute;
      background-color: #ffffff;
      border-radius: @radius;
      bottom: 55px;
      height: 390px;
      width: 700px;
      .shadow();
      .ask_icon {
        .icon(28px, 20px, 'pic/answer_on_quesrion.png');}
      .text_ask {
        .head_text(25px; 55px);
      }
      .link_all_question {
        .link_next(35px, 130px, 5px)
      }
      .question_answer1 {
        .question_answer(70px);
        border-bottom: 1px solid gray;
      }
      .question_answer2 {
        .question_answer(100px);
      }
      .ask_question_button {
        position: absolute;
        bottom: 18px;
        right: 18px;
        height: 43px;
        width: 211px;
        cursor: pointer;
        .image('pic/ask_question.png','pic/ask_question_over.png');
        background-repeat: no-repeat;
      }
    }
    .vidjet_vk {
      position: absolute;
      margin-top: 15px;
      right: 0;
      width: 250px;
      height: 250px;
    }
  }
}
.list_link {
  p {
    line-height: 8px;
    margin-top: 0;
    vertical-align: top;
    color: #404F5B;
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
      &:hover {color: #A5CCEE; text-decoration: underline;}
    }
  }
}
.links {
  position: relative;
  display: inline-block;
  top: 45px;
  margin-left: 10px;
  height: 60px;
  width: 165px;
  vertical-align: top;
  .list_link();
}
.links_big {
  position: relative;
  display: inline-block;
  top: 45px;
  margin-left: 10px;
  height: 160px;
  width: 200px;
  .list_link();
}
.bottom_links_area {
  .schedule_area;
  height: 255px;
  background-color: #768C9F;
  .main {
    //background-color: darkolivegreen;
    height: 255px;
    .all_links {
      .link1 {.links}
      .link2 {.links}
      .link3 {.links}
    }
    .subscribe {
      position: absolute;
      top: 160px;
      height: 65px;
      width: 330px;
      //background-color: lightgreen;
      margin-left: 10px;
      .text {color: white; font-size: 13px;}
      .input_area {
        position: absolute;
        background-color: white;
        border-radius: @radius;
        height: 40px;
        width: 320px;
        bottom: 0;
        p {vertical-align: top;
        line-height: 7px;
        margin-left: 15px;
        color: #CACACA}
        .button_subscribe {
          position: absolute;
          right: 5px;
          top: 5px;
          width: 97px;
          height: 32px;
          .image('pic/subscribe_button.png', 'pic/subscribe_button_over.png')
        }
      }
    }
    .big_links {
      position: absolute;
      top: 0 ;
      left: 530px;
      .link4 {.links_big}
      .link5 {.links_big}
    }
  }
}
.footer {
  position: relative;
  width: 960px;
  height: 125px;
  margin: 0 auto;
  img {
    position: relative;
    top: 15px;
  }
  .support_button {
    position: absolute;
    top: 35px;
    left:290px;
    height: 48px;
    width: 221px;
    cursor: pointer;
    .image('pic/Support_project_small.png','pic/Support_project_small_over.png');
  }
  .consult_button {
    position: absolute;
    top: 35px;
    left: 538px;
    height: 48px;
    width: 221px;
    cursor: pointer;
    .image('pic/Consult.png','pic/Consult_over.png');
    background-repeat: no-repeat;
  }
  .rights {
    position: absolute;
    top: 35px;
    right: 0;
    width: 150px;
    height: 65px;
  }
}
